body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.contact-heading{
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.contact-form-container{
  display: flex;
  flex: row;
  gap: 20px;
}
.input{
  border-color: #000;
  border-radius: 5px;
  color: #212529;
  font-size: 14px;
  padding: 2px;
}
.contact-btn{
  background-color: #24A0ED;
  border-width: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}
.table-header{
  display: flex;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table-header-cell{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  padding: 5px;
  
}
.name-column{
  width: 33%;
  border-right: none;
}
.separator{
  margin: 0;
  border: 1px solid #cbd5e1;
}